.our-best {
	
	min-height: 495px;
	background-image: url('../../images/our_bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    .container { 
        flex-direction: column;
        padding: 80px 150px;
    }
    &-cards { 
        display: flex;
        gap: 60px 70px ;
        margin-top: 39px;
        flex-wrap: wrap;
        
        list-style-type: none;;
        justify-content: center;
        align-items: center;
    }
}
